[Unit]
Description=Regularly run custom update notifier

[Timer]
OnCalendar=*-*-* 06:00
RandomizedDelaySec=60m
Persistent=true

[Install]
WantedBy=timers.target
