[Unit]
Description=Run custom update notifier
After=network-online.target multi-user.target
Wants=network-online.target multi-user.target

[Service]
Type=simple
ExecStart=/usr/local/sbin/updatenotifier
