[Unit]
Description=Scan for new devices in the network
After=network-online.target multi-user.target pihole-FTL.service
Wants=network-online.target multi-user.target

[Service]
Type=simple
ExecStart=/usr/local/sbin/new-device-notify

[Install]
WantedBy=multi-user.target
