[Unit]
Description=Mi Air Purifier Controller
After=network-online.target multi-user.target
Wants=network-online.target

[Service]
Type=simple
ExecStart=php %h/.local/bin/miap-controller %h/.config/miap-controller.conf

[Install]
WantedBy=multi-user.target
