DEVICE_IP=192.168.1.55
DEVICE_TOKEN=TOKEN
TIMEZONE=UTC
LOG_FILE=/tmp/miap-controller.log
CONNECT_RETRY=60
POLLING_PERIOD=5
AQI_CHECK_PERIOD=60
AQI_DISABLE_THRESHOLD=5
AQI_ENABLE_THRESHOLD=10
TIME_ENABLE=08:00
TIME_DISABLE=00:00
TIME_SILENT=22:00
