[Unit]
Description=Yearly renewal of certificate for lighttpd

[Timer]
OnCalendar=yearly
RandomizedDelaySec=60s
Persistent=true
 
[Install]
WantedBy=timers.target
