[Unit]
Description=Restart DNS services when pihole-FTL is restarted
After=multi-user.target pihole-FTL.service
Wants=multi-user.target

[Service]
Type=simple
ExecStart=/usr/local/sbin/restart-dns

[Install]
WantedBy=multi-user.target
