; Notification command, "#TEXT#" will be replaced by the HTML output, maxlength settings limits string size splitting notification into multiple commands
; telegram-notify from https://github.com/NicolasBernaerts/debian-scripts/tree/master/telegram
[notification]
command="/usr/local/bin/telegram-notify --quiet --warning --html --disable_preview --title \"showRSS Feed Update @ $(hostname -f)\" --text \"#TEXT#\""
maxlength=4000

; URL parameters from https://showrss.info/feeds
; If "schedule=true" it uses the schedule feed instead and other parameters are ignored
[options]
user_id=YOUR_USER_ID
schedule=false
magnets=true
name=clean
quality=any
